/*
 * @author :Hasi Weragala
 * SolutionsW3
 * Interactive Grid base styling
 */

$color-blue: darkturquoise;
$color-white : #fff;
$color-yellowgreen: yellowgreen;
$color-yellow: yellow;
$color-black: #000;

//GRID ITEMS
$color-gridlabelbg : #000;
$color-gridlabel : #fff;
$color-grid-outline: yellow;  

//TYPOGRAPHY
$heading-font-size: 1em;
$description-font-size: 1em;
$grid-item-font-family: 'Open Sans', sans-serif;

//TRANSITIONS
$tran-time: .5s;

//PLACEMENTS AND DIMENSIONS
$heading-pos-top : 10%;
$para-pos-top: 11%;  
$label-opacity: 0.5;  
$label-height: 50px;

//NOT USED IN CALC PARAMETERS
$box-padding: 5px; 
$label-pos: 1em; // => ALSO USED FOR GRID ITEM OUTLINE OFFSET  

//mixins
@mixin flex-vendor-prefix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; 
    display: flex;
}

body, html {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right bottom, $color-yellowgreen, $color-yellow );
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;              
}

*,
:hover,
::after,
::before {
    box-sizing: border-box;
}

footer {
    margin: 32px 0;
    background-image: linear-gradient(45deg, greenyellow 0%, greenyellow 50%, transparent 100%);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);   
    font-family: $grid-item-font-family;   
    padding: 10px;  
}

//GRID STYLING GOES BELOW
.grid-container {
    width: 80%;
    height: 80vh;
    margin: 10vh auto;          
}    

.intgrid__container { 

    width: 100%;
    box-shadow: 0 0 5px rgba($color-black,0.5);    
  
    &, 
    &-boxwrapper {
        @include flex-vendor-prefix;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-evenly;
        align-items: center;        
    }

    &-boxwrapper {
        width: 50%;   
    }

    &-boxwrapper--singlecol {
        width: 25%;
        @include flex-vendor-prefix;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;   
    }

}

.intgrid__griditem {
        
        width:50%;
        outline: 1px solid $color-grid-outline;  
        outline-offset: -$label-pos;
        padding: $box-padding;     
        position: relative;
        overflow: hidden;
        font-family: $grid-item-font-family;  
        
        &--singlecol {
            width:100%;     
        }

        &.intgrid__griditem--basic {   //TACKLING A SPECIFICITY PROBLEM  
            width: 25% ;        
        }

        & > a {
            text-decoration: none;
        }

        &-img {
            width: 100%;
            height: auto;     
            object-fit: cover;
            object-position: center center;
            margin: 0;
            transition: all $tran-time;
        }

        &-label {
            width: calc(100% - 2em);  // 100% - 2 * $label-pos
            height: $label-height;
            background-color: rgba($color-gridlabelbg, $label-opacity);  
            position: absolute;
            left: $label-pos;
            bottom: $label-pos;
            transition: height $tran-time;

            & > h3 {
                text-transform: uppercase;
                font-family: inherit;
                font-size: $heading-font-size;
                font-weight: bold;
                color: $color-gridlabel;
                text-align: center;
                height: 30px;  
                margin-bottom: 0;
                line-height: inherit;   
                transition: all $tran-time;
            
                //NOT HOVERED STATE
            
                position: relative;
                top: 50%;
                transform: translateY(-50%);    
            }

            & > p {
                display: none;
                padding: 10px;   
                color: $color-gridlabel;
                text-align: justify;
                font-family: inherit;
                font-size: $description-font-size;
            
                //MAKE SURE THE DESC IS ALWAYS BELOW THE HEADING
                position: relative;
                top: $para-pos-top; 
                     
            }
        }  

        &:hover  .intgrid__griditem-img {
            filter: blur(3px) brightness(90%);
            transform: scale(1.2);
        }
        
        &:hover  .intgrid__griditem-label {
            
            height: calc( 100% - 2em );  // 100% - ($label-pos * 2) 

            & > h3 {
                top: $heading-pos-top;
            }
              
            & > p {  
                display: block;   
            }
             
        }
      
        
             
} // END GRID ITEM

  
  
//RESPONSIVE ADJUSTMENTS
@media (max-width: 768px)  {
    //WRAP BIG BOXES
    .intgrid__container-boxwrapper,
    .intgrid__griditem--bigbox,
    .intgrid__griditem--singlecol {
        width: 100%;
    }

    .intgrid__container-boxwrapper--singlecol
     {
        width: 50%;         
    }

    .intgrid__container-boxwrapper--singlecol:last-child {
        order: -1;
    }

    .intgrid__griditem--bigbox:first-child {
        order: 1;   
    }
}

@media (max-width: 576px)  {
    //WRAP ALL BOXES
    .intgrid__griditem,
    .intgrid__container-boxwrapper--singlecol {  
        width: 100%;
    }
}
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
/*
 * @author :Hasi Weragala
 * SolutionsW3
 * Interactive Grid base styling
 */

$color-blue: darkturquoise;
$color-white : #fff;
$color-yellowgreen: yellowgreen;
$color-yellow: yellow;
$color-black: #000;

//GRID ITEMS
$color-gridlabelbg : #000;
$color-gridlabel : #fff;
$color-grid-outline: yellow;  

//TYPOGRAPHY
$heading-font-size: 1em;
$description-font-size: 1em;
$grid-item-font-family: 'Open Sans', sans-serif;

//TRANSITIONS
$tran-time: .5s;

//PLACEMENTS AND DIMENSIONS
$heading-pos-top : 10%;
$para-pos-top: 11%;  
$label-opacity: 0.5;  
$label-height: 50px;

//NOT USED IN CALC PARAMETERS
$box-padding: 5px; 
$label-pos: 1em; // => ALSO USED FOR GRID ITEM OUTLINE OFFSET  

//mixins
@mixin flex-vendor-prefix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox; 
    display: flex;
}

body, html {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right bottom, $color-yellowgreen, $color-yellow );
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100%;              
}

*,
:hover,
::after,
::before {
    box-sizing: border-box;
}

footer {
    margin: 32px 0;
    background-image: linear-gradient(45deg, greenyellow 0%, greenyellow 50%, transparent 100%);
    box-shadow: 0 0 4px rgba(0,0,0,0.5);   
    font-family: $grid-item-font-family;   
    padding: 10px;  
}

//GRID STYLING GOES BELOW
.grid-container {
    width: 80%;
    height: 80vh;
    margin: 10vh auto;          
}    

.intgrid__container { 

    width: 100%;
    box-shadow: 0 0 5px rgba($color-black,0.5);    
  
    &, 
    &-boxwrapper {
        @include flex-vendor-prefix;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-evenly;
        align-items: center;        
    }

    &-boxwrapper {
        width: 50%;   
    }

    &-boxwrapper--singlecol {
        width: 25%;
        @include flex-vendor-prefix;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;   
    }

}

.intgrid__griditem {
        width:50%;
                        
         
        outline: 1px solid $color-grid-outline;  
        outline-offset: -$label-pos;
        padding: $box-padding;     
        position: relative;
        overflow: hidden;
        font-family: $grid-item-font-family;  
        
        &--singlecol {
            width:100%;     
        }

        & > a {
            text-decoration: none;
        }

        &-img {
            width: 100%;
            height: auto;     
            object-fit: cover;
            object-position: center center;
            margin: 0;
            transition: all $tran-time;
        }

        &-label {
            width: calc(100% - 2em);  // 100% - 2 * $label-pos
            height: $label-height;
            background-color: rgba($color-gridlabelbg, $label-opacity);  
            position: absolute;
            left: $label-pos;
            bottom: $label-pos;
            transition: height $tran-time;

            & > h3 {
                text-transform: uppercase;
                font-family: inherit;
                font-size: $heading-font-size;
                font-weight: bold;
                color: $color-gridlabel;
                text-align: center;
                height: 30px;  
                margin-bottom: 0;
                line-height: inherit;   
                transition: all $tran-time;
            
                //NOT HOVERED STATE
            
                position: relative;
                top: 50%;
                transform: translateY(-50%);    
            }

            & > p {
                display: none;
                padding: 10px;   
                color: $color-gridlabel;
                text-align: justify;
                font-family: inherit;
                font-size: $description-font-size;
            
                //MAKE SURE THE DESC IS ALWAYS BELOW THE HEADING
                position: relative;
                top: $para-pos-top; 
                     
            }
        }  

        &:hover  .intgrid__griditem-img {
            filter: blur(3px) brightness(90%);
            transform: scale(1.2);
        }
        
        &:hover  .intgrid__griditem-label {
            
            height: calc( 100% - 2em );  // 100% - ($label-pos * 2) 

            & > h3 {
                top: $heading-pos-top;
            }
              
            & > p {  
                display: block;   
            }
             
        }
      
        
             
} // END GRID ITEM

  
  
//RESPONSIVE ADJUSTMENTS
@media (max-width: 768px)  {
    //WRAP BIG BOXES
    .intgrid__container-boxwrapper,
    .intgrid__griditem--bigbox,
    .intgrid__griditem--singlecol {
        width: 100%;
    }

    .intgrid__container-boxwrapper--singlecol
     {
        width: 50%;         
    }

    .intgrid__container-boxwrapper--singlecol:last-child {
        order: -1;
    }

    .intgrid__griditem--bigbox:first-child {
        order: 1;   
    }
}

@media (max-width: 576px)  {
    //WRAP ALL BOXES
    .intgrid__griditem,
    .intgrid__container-boxwrapper--singlecol {  
        width: 100%;
    }
}
  
  
  
  
  
  
  
  
  
  
 
  
  
  
  
  